body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:503px;
}
#u2968 {
  position:absolute;
  left:106px;
  top:103px;
  width:320px;
  height:503px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:228px;
}
#u2970 {
  position:absolute;
  left:120px;
  top:118px;
  width:294px;
  height:228px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:106px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:252px;
}
#u2972 {
  position:absolute;
  left:100px;
  top:100px;
  width:334px;
  height:252px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:118px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2974 {
  position:absolute;
  left:348px;
  top:564px;
  width:75px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2975 {
  position:absolute;
  left:236px;
  top:115px;
  width:59px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2976 {
  position:absolute;
  left:321px;
  top:222px;
  width:59px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2977 {
  position:absolute;
  left:154px;
  top:222px;
  width:59px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
}
#u2978 {
  position:absolute;
  left:112px;
  top:187px;
  width:81px;
  height:25px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:89px;
}
#u2980 {
  position:absolute;
  left:122px;
  top:118px;
  width:62px;
  height:89px;
}
#u2981 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2982 {
  position:absolute;
  left:348px;
  top:118px;
  width:51px;
  height:51px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
}
#u2984 {
  position:absolute;
  left:333px;
  top:182px;
  width:81px;
  height:25px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2986 {
  position:absolute;
  left:358px;
  top:187px;
  width:33px;
  height:16px;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
