body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:580px;
}
#u6086 {
  position:absolute;
  left:100px;
  top:100px;
  width:328px;
  height:580px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:282px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:577px;
}
#u6088 {
  position:absolute;
  left:499px;
  top:100px;
  width:329px;
  height:577px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:280px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
